@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>Kentucky Horseman's Benevolent and Protective Association</h3>
<p>Kentucky HBPA welcomes inquiries from our members and the general public on matters of concern to the Thoroughbred industry. This office is open year round, Monday thru Friday from 8:30AM to 4:00PM. Our contact information is listed below:</p>
<div class="row">
    <div class="col-md-6">
        <address>
            Kentucky HBPA<br />
            3729 S. Fourth Street<br />
            Louisville, KY 40214-1712<br />
        </address>
    </div>
    <div class="col-md-6">
        <u>Email</u>: <a href="mailto:Kentuckyhbpa@gmail.com">Kentuckyhbpa@gmail.com</a><br />
        <u>Phone</u>: (502)363-1077<br />
        <u>Toll Free</u>: (800)928-4272<br />
        <u>Fax</u>: (502)367-6800<br />
    </div>
</div>
<br />
<div class="row">
    <h3 class="text-center">Visit our Offices at all Kentucky Tracks, open during each track's Live Meet.</h3>
    <div class="col-md-6">
        <h4><b>Churchill Downs Backside Office - Louisville, Ky</b></h4>
        <address>
            <u>Phone</u>: 502-637-7935<br />
            <u>Fax</u>: 502-637-7935<br />
            Open year round, Wednesday thru Sunday from 8:30am to 5:30pm.<br />
        </address>
        <h4><b>Trackside – Louisville, Ky</b></h4>
        <address>
            <u>Phone</u>: 502-964-5361<br />
            <u>Fax</u>: 502-964-7967<br />
            Open year round, Tuesday thru Sunday from 9:30am to 1:30pm.<br />
        </address>
        <h4><b>The Thouroughbred Center – Lexington, Ky</b></h4>
        <address>
            <u>Phone</u>: (859)293-5672<br />
            <u>Fax</u>: (859)293-5672<br />
            Open year round, Monday thru Friday from 9:00am to 1:00pm.<br />
        </address>
    </div>
    <div class="col-md-6">

        <h4><b>Ellis Park – Henderson, Ky</b></h4>
        <address>
            <u>Phone</u>: (812)435-8956<br />
            <u>Fax</u>: (812)425-1659<br />
        </address>
        <h4><b>Keeneland – Lexington, Ky</b></h4>
        <address>
            <u>Phone</u>: (800)456-3412, EXT. 390<br />
            <u>Fax</u>: (859)255-0467<br />
        </address>
        <h4><b>Turfway Park – Florence, Ky</b></h4>
        <address>
            <u>Phone</u>: (800)733-0200<br />
            <u>Fax</u>: (859)371-4086<br />
        </address>
    </div>
</div>


