
@{
    ViewBag.Title = "RacingGambling";
}

<h2>Racing and Wagering Education</h2>
<p>Here is how to video on horse wagering</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tRgIt7Zi3os" frameborder="0" allowfullscreen></iframe>

